{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            {% for key in history[0] %}
                <th>{{ key|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in history %}
            <tr>
                {% for data in row %}
                    <td>{{ row[data] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}